/* NAVBAR */
.navbar {
    background-color: #ee5c68;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.60);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ffff;
}